<style>
            *{
                margin:0;
                padding:0;
            }
            #announcement{
                background-color: #008b92;
                text-align: center;
                height: 3vh;
                font-family: Sans-serif;
                font-size: 14px;
                padding-top: 4.5px;
            }
            #headerAndMenu{
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: white;
            }
            #headerAndMenu #logo img{
                width: 18em;
            }
            #headerAndMenu img{
                width: 100%;
                margin-left: 1vw;
            }
            #headerAndMenu ul{
                margin: 0px;
                text-align: left;
                padding: 0;
            }
            #headerAndMenu ul li {
                display: inline-block;
                padding: 1em;
                padding: 16px 7px;
            }
            #headerAndMenu ul li a{
                list-style-type: none;
                text-decoration: none;
                font-weight: bold;
                color: black;
                font-family: Sans-serif;
                font-size: 14px;

            }
            #searchBtn{
                padding: 8px 8px;
            }
            #searchBtn img{
                width: 1.3em;
                margin: 11px 0 0 10px;
            }
            #account ul li{
                padding: 16px 22px 16px 0;
                float: right;

            }
            #account ul li a img{
                width: 1.6em;
                margin-left: 0;
                margin-right: 20px;
                align-items: center;
            }


            .ads{
                height: 50%;
            }
            .carousel-inner h1 {
                z-index: 3;
                position: absolute;
                left: 20%;
                top: 40%;
                color: white;
                font-weight: bold;
                text-shadow: 2px ;
            }
            #carouselExampleControls img {
                width:100%;
                height:70vh;
            }
            #carouselExampleControls video {
                width:100%;
                height:70vh;
            }
            .separator h5{
                color: black;
                font-family: Sans-serif;
                font-size: 21px;
                margin: 8vh 0 2vh 0 ;
            }
            .featured .row img{
                width: 100%;
                height: 80%;
            }
            .featured{
                height: 100%;
            }
            #sub_content{
                clear:both;
                background-color: #f8f8f8;
                filter: blur(0px) ;
                -webkit-filter: blur(0px) ;
            }
                #sub_content img{
                    height: 100%;
                    width: 500px;
                }
                #sub_content h4{
                    float: left;
                    text-align: center;
                    color: white;
                }
            #footer ul li {
                list-style-type: none;
                display: inline-block;
                margin: 0px;
                text-align: left;
            }
                #footer ul li img {
                    width: 30px;
                    height: 30px;
                    float:left;
                    margin: 0px 6px;
                    font-family: Sans-serif;
                }
            #footer {
                clear:both;

            }
            #footer .container .row .col h5{
                margin-top: 2vh;
                margin-bottom: 1vh;
                font-family: Sans-serif;
            }
            #footer .container .row .col h6{
                font-family: Sans-serif;
                margin: 5px 5px 5px 20px;
            }
        </style>